<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login | des-avis.fr | Admin</title>
        <meta name="token" content="<%= csrf_token %>">
        <meta name="robots" content="noindex, nofollow">
        <!-- Bootstrap Core CSS -->
        <link href="/backend/css/bootstrap.min.css" rel="stylesheet">
        <!-- MetisMenu CSS -->
        <link href="/backend/css/metisMenu.min.css" rel="stylesheet">
        <!-- Timeline CSS -->
        <link href="/backend/css/timeline.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="/backend/css/sb-admin-2.css" rel="stylesheet">
        <!-- Morris Charts CSS -->
        <link href="/backend/css/morris.css" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="/backend/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="wrapper">
            <%- partial('partials/_flash') %>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                  <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Login</h3>
                    </div>
                    <div class="panel-body">
                      <form role="form" action="/admin/auth" method="POST">
                        <%- partial('partials/_csrf_and_method', {method: "POST"}) %>
                        <fieldset>
                          <div class="form-group">
                            <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
                          </div>
                          <div class="form-group">
                            <input class="form-control" placeholder="Password" name="password" type="password" value="">
                          </div>
                          <!-- Change this to a button or input when using this as a form -->
                        <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                      </fieldset>
                    </form>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <!-- /#wrapper -->
        <!-- jQuery -->
        <script src="/backend/js/jquery.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/backend/js/bootstrap.min.js"></script>
    </body>
</html>