<% layout('/layouts/admin') -%>

<div class="row">
    <div class="form-group">
        <label>Label</label>
        <p class="form-control-static"><%= item.label %></p>
    </div>
    <div class="form-group">
        <label>Category</label>
        <p class="form-control-static"><%= item.category %></p>
    </div>
</div>
