
.categories li {
	display: block;
	font-size: 15px;
	border-radius: 5px;
}
.categories > li {
	border-bottom: 3px solid #fff;
}
.categories > li:last-child {
	border-bottom: none;
}
.categories .header {
	display: block;
	background-color: #7f8c8d;
	color: #fff;
	padding: 10px;
}
.categories .sub-categories {	
	background: #34495e;
}
.categories .sub-categories li {
	border-bottom: 1px solid #fff;
	padding: 10px;
	padding-left: 25px;
	color: #fff;
}
.categories .sub-categories li:last-child {
	border-bottom: none;
}

.categories .actions a{
	color: #fff !important;
	font-size: 12px;
}

.btn-toolbar.action-buttons .red {
	background: #c0392b;
	color: #fff;
}

.btn-toolbar.action-buttons .blue {
	background: #2980b9;
	color: #fff;
}

.btn-toolbar.action-buttons .green {
	background: #2ecc71;
	color: #fff;
}
.filters {
	margin-bottom: 10px;
    padding: 10px;
    background: #2e4053;
    color: #fff;
    border-radius: 5px;
}
.navbar-default .navbar-brand {
	padding: 5px 5px 5px 20px;
}
.navbar-brand>img {
	height: 43px;
}
.actions {
	min-width: 80px;
	text-align: right;
}
.actions a{
	display: inline-block;
}
.actions .fa-trash {
	color: red;
}
.actions .fa-pencil-square-o {
	color: green;
}
.actions .fa-reply {
	color: blue;
}

tbody .thumbnail {
	margin-bottom: 0px;
}