<% layout('/layouts/two_columns') -%>
<div class="row home-search">
	<div class="col-md-12">
		<div class="home-logo"></div>
	</div>
	<div class="col-md-12">
		<div class="col-md-6 search-input">
			<div class="form-group">
				<input id="search" type="text" class="form-control" placeholder="Chercher....">
			</div>
			<span class="text-center info"><%= itemsCount %> Articles - <%= commentsCount %> Avis</span>
		</div>
	</div>
</div>
