<% layout('/layouts/two_columns') -%>

<form class="form" method="post" action="/auth/newPassword">
  <%- partial('partials/_csrf_and_method', {method: "POST"}) %>
  <input type="hidden" name="token" value="<%=user.local.resetPasswordToken%>" %>
  <div class="form-group">
    <label for="new_password_input">Nouveau Mot de passe</label>
    <input id="new_password_input" type="password" name="password" class="form-control" placeholder="Nouveau mot de passe" required="true">
  </div>
  <div class="form-group">
    <label for="comf_password_input">Confirmation Mot de passe</label>
    <input id="comf_password_input" type="password" name="password_confirm" class="form-control" placeholder="Confirmation Mot de passe" required="true">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">Modifier</button>
  </div>
</form>