<div class="modal fade" id="forgot_password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <form class="form" role="form" method="post" action="/auth/forgot" data-auth-forgot>
      <%- partial('partials/_csrf_and_method', {method: "POST"}) %>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Mot de passe oublié</h4>
        </div>
        <div class="modal-body">
              <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Votre E-mail" required="true">
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
      </div>
    </form>
  </div>
</div>